/* YOUR CUSTOM STYLES */
@font-face {
    font-family: 'DDT Book'; /*a name to be used later*/
    src: url('../font/ddt/9e0af7b266012759dfab3e8052917943.ttf');
}

.bg-gray-gradient {
    background-image: -webkit-linear-gradient(90deg, rgba(213, 213, 213, 1), rgba(240, 240, 240, 1));
}

.navbar {

    /*background: #D5D5D5 !important;*/
    background-image: -webkit-linear-gradient(90deg, rgba(213, 213, 213, 1), rgba(240, 240, 240, 1));
    color: #3399cc !important;
}

.corporate-font {
    font-family: "DDT Book";
}

.corporate-color-dark {
    color: #003366 !important;
}

.corporate-color-light {
    color: #3399cc !important;
}

.btn-corporate-color-light {
    background-color: #3399cc !important;
}

.corporate-font-dark {
    font-family: "DDT Book";
    color: #003366 !important;
}

.corporate-font-light {
    font-family: "DDT Book";
    color: #3399cc !important;
}

.corporate-bg-color-light {
    background-color: #3399cc !important;
}

.corporate-bg-color-dark {
    background-color: #003366 !important;
}

.navbar {
    background-color: transparent;
}

.quote-section {
    background-position: 0 50%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../img/png/quote-block-background-2.png');
}

.hm-gradient .full-bg-img {
    background: -webkit-linear-gradient(45deg, rgba(8, 65, 105, 0.5), rgba(229, 229, 229, 0.9) 100%);
    background: -webkit-linear-gradient(45deg, rgba(8, 65, 105, 0.5), rgba(229, 229, 229, 0.9) 100%);
    /*background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%);*/
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}

.hm-green-strong-2 .full-bg-img, .hm-green-strong-2 .mask {
    background-color: rgba(24, 197, 141, .6);
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

.quote-section {

    display: block;
    position: relative;
    overflow: hidden;
    height: 400px;
}

.divider-new:after, .divider-new:before {

    background: rgba(0, 51, 102, 0.2);
}

.card-body .card-title {
    color: #003366 !important;
}

.card-body h6 {
    color: #3399cc !important;
}

.navbar .navbar-nav .nav-item .nav-link {

    color: #808D9E !important;
    position: relative;
}

#navbar-top .nav-item > .nav-link.active {
    background: inherit;

    /*border-bottom: 1px solid #003366;*/
    /*color: #003366 !important;*/
}

.btn-outline-corporate-light {
    /*border :  2px solid #3399cc  ;*/
    /*color:#3399cc !important;*/

    /*background-color: rgba(255, 255, 255, 0.5);*/
}

.card img {
    border-radius: 50%;

}

.media .media-left img {
    box-shadow: none;
}

.blockquote {
    font-size: 1rem;
}

@media (max-width: 1199px) {
    .blockquote {
        font-size: 0.9rem;
    }
}

@media (max-width: 740px) {
    .blockquote {
        font-size: 0.8rem;
    }

    .top-nav-icon-container {
        font-size: 16px;
    }
}

.top-nav-icon-container {
    font-size: 20px;
}

#what-we-do .figure-img {
    width: 50px;
}

.feature-icon {
    font-size: 3rem;
}

#pricing .nav-tabs .nav-item.show .nav-link, #pricing .nav-tabs .nav-link.active {
    color: #495057;
    background-color: rgba(255, 255, 255, 0.31);
    border: none;
    border-radius: 1%;
}

#pricing .nav-tabs .nav-link:hover {
    border: none;
}

.pricing-junior-bg-color {
    background-color: #4f98c7;
}

.pricing-mid-bg-color {
    background-color: #1a6294;
}

.pricing-expert-bg-color {
    background-color: #01406b;
}

.logo-img, #navbar-top {
    -webkit-transition: height 0.5s ease-out 0.1s;
    -moz-transition: height 0.5s ease-out 0.1s;
    -o-transition: height 0.5s ease-out 0.1s;
    transition: height 0.5s ease-out 0.1s;
}

@media (min-width: 768px) {
    #navbar-top .navbar-nav > li:not(.not-activable) > a:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        height: .15rem;
        width: 0;

        background: #01406b;
        -webkit-transition: width 0.1s ease-in-out;
        -o-transition: width 0.1s ease-in-out;
        transition: width 0.1s ease-in-out;
    }

    #navbar-top .navbar-nav > li > a:hover:after {
        width: 100%;
    }

    #navbar-top .navbar-nav > li > a.active:after {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .streak.streak-md {
        height: auto;
    }
}

.nav-tabs .nav-link {
    border: none;
}

.grecaptcha-badge {
    display: none;
}

.phone-grey-color {
    color: #003366;
}

.modal {
    margin:auto;
}

