/* YOUR CUSTOM STYLES */
@font-face {
    font-family: 'DDT Book'; /*a name to be used later*/
    src: url('../font/ddt/9e0af7b266012759dfab3e8052917943.ttf');
}

.navbar:not(.top-nav-collapse) {

    /*background: #D5D5D5 !important;*/
    background-image: -webkit-linear-gradient(90deg, rgba(213, 213, 213, 1), rgba(240, 240, 240, 1));
    color: #3399cc !important;
}

.corporate-font {
    font-family: "DDT Book";
}

.corporate-color-dark {
    color: #003366 !important;
}

.corporate-color-light {
    color: #3399cc !important;
}

.btn-corporate-color-light {
    background-color: #3399cc !important;
}

.corporate-font-dark {
    font-family: "DDT Book";
    color: #003366 !important;
}

.corporate-font-light {
    font-family: "DDT Book";
    color: #3399cc !important;
}

.corporate-bg-color-light{
    background-color: #3399cc !important;
}

.navbar {
    background-color: transparent;
}

.quote-section {
    background-position: top left;
    background-size: cover;
    background-image: url('../img/png/quote-block-background-2.png');
}

.hm-gradient .full-bg-img {
    background: -webkit-linear-gradient(45deg, rgba(8, 65, 105, 0.5), rgba(229, 229, 229, 0.9) 100%);
    background: -webkit-linear-gradient(45deg, rgba(8, 65, 105, 0.5), rgba(229, 229, 229, 0.9) 100%);
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%);
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}

.hm-green-strong-2 .full-bg-img, .hm-green-strong-2 .mask {
    background-color: rgba(24, 197, 141, .6);
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

@media (min-width: 1366px) {
    .streak.streak-photo {
        background-attachment: fixed;
    }
}

.streak.streak-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.streak.streak-md {
    height: 400px;
}

.streak {
    display: block;
    position: relative;
    overflow: hidden;
    height: 250px;
}

footer.page-footer .footer-copyright {
    height: auto;
    background-image: -webkit-linear-gradient(45deg, rgba(169, 169, 169, 0.79), rgba(229, 229, 229, 0.9) 100%);
}

.divider-new:after, .divider-new:before {

    background: rgba(0, 51, 102, 0.2);
}

.card-body .card-title {
    color: #003366 !important;
}

.card-body h6 {
    color: #3399cc !important;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {

    color: #808D9E !important;

}

.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
    background: inherit;
    border-bottom: 1px solid #003366;
    color: #003366 !important;
}

.btn-outline-corporate-light {
    /*border :  2px solid #3399cc  ;*/
    /*color:#3399cc !important;*/

    /*background-color: rgba(255, 255, 255, 0.5);*/
}

.card img {
    border-radius: 50%;

}

.media .media-left img {
    box-shadow: none;
}

.blockquote {
    font-size: 1rem;
}

@media (max-width: 740px) {

    .top-nav-icon-container {
        font-size: 16px;
    }
}

.top-nav-icon-container {
    font-size: 20px;
}

#what-we-do .figure-img {
        width: 150px;
}

.feature-icon {
    font-size: 3rem;
}

